<template>
  <VueDraggable class="post-list" v-model="postOrder" :options="{ disabled: isFiltered }">
    <PostListEntry
      v-for="post in filteredPosts"
      :key="post.id"
      :title="getPostTitleById(post.id, 35)"
      :excerpt="getPostExcerptById(post.id, 75)"
      :selected="selectedPostId === post.id"
      @click.native="selectPost(post.id)"
      @contextmenu.native="showContextMenu(post.id)"
    />
  </VueDraggable>
</template>

<script>
  import PostListEntry from './PostListEntry.vue';
  import VueDraggable from 'vuedraggable';
  import { mapActions, mapMutations, mapGetters } from 'vuex';
  import { remote } from 'electron';
  const { Menu, MenuItem } = remote;

  export default {
    components: {
      PostListEntry,
      VueDraggable,
    },
    computed: {
      ...mapGetters('sidebar', ['filteredPosts', 'isFiltered']),
      ...mapGetters('posts', ['getPostTitleById', 'getPostExcerptById', 'selectedPostId']),
      ...mapGetters('posts', { _postOrder: 'postOrder' }),
      postOrder: {
        get() { return this._postOrder; },
        set(newPostOrder) { this.updatePostOrder(newPostOrder); },
      },
    },
    methods: {
      ...mapMutations('posts', ['updatePostOrder']),
      ...mapActions('posts', ['createPost', 'selectPost', 'deletePost']),
      ...mapActions('posts', { '_deletePost': 'deletePost' }),
      getContextMenu(id) {
        const menu = new Menu();
        menu.append(new MenuItem({ label: 'Delete', click: this.deletePost(id)}));
        return menu;
      },
      deletePost(id) {
        const _this = this;
        return () => { _this._deletePost(id ); };
      },
      showContextMenu(id) {
        this.getContextMenu(id).popup(remote.getCurrentWindow());
      },
    },
  };
</script>

<style scoped>
  .post-list {
    overflow-y: auto;
  }
</style>
