<template>
  <div :class="['post-list-entry', { 'is-selected': selected }]">
    <div class="post-list-entry__content">
      <h1 class="post-list-entry__title">{{ title }}</h1>
      <p v-if="excerpt" class="post-list-entry__excerpt">{{ excerpt }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: { type: String, required: true },
    excerpt: { type: String, default: ''},
    selected: { type: Boolean, default: false },
  },
};
</script>

<style scoped>
  .post-list-entry {
    position: relative;
    display: block;
    color: var(--color-sidebar-entry-text);
    text-decoration: none;
    cursor: pointer;
  }

  .post-list-entry:hover {
    background-color: var(--color-sidebar-entry-background-hover);
  }

  .post-list-entry:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0;
    background-color: var(--color-highlight);
  }

  .post-list-entry.is-selected:before {
    width: 5px;
  }

  .post-list-entry__content {
    padding: 14px 27px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .post-list-entry__title {
    margin: 0;
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
  }

  .post-list-entry__excerpt {
    margin: 0;
    font-size: 12px;
    line-height: 13px;
    opacity: 0.45;
  }

  .post-list-entry__title + .post-list-entry__excerpt {
    margin-top: 3px;
  }

  .post-list-entry.sortable-ghost {
    opacity: 0.3;
  }
</style>
