<template>
  <div class="modal-layer">
    <slot />
  </div>
</template>

<script>
  export default {

  };
</script>

<style>
  .modal-layer {
    display: flex;
    position: fixed;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-modal-overlay);
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
</style>
