<template>
  <div class="no-post-view">
    <ShowSidebarIllustration class="illustration" />
    <div class="no-post-text">
      <h1>No post selected!</h1>
      <p>Select a post from the sidebar or<br />
        <InlineTextButton
          class="btn"
          label="Create a new post"
          @click.native="createNewPost()"
        /> to get started.
      </p>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  import InlineTextButton from '../main/buttons/InlineTextButton.vue';
  import ShowSidebarIllustration from '../../assets/illustrations/show-sidebar-illustration.svg';

  export default {
    components: { ShowSidebarIllustration, InlineTextButton },
    methods: {
      ...mapActions('posts', ['createNewPost']),
    },
  };
</script>

<style scoped>
  .no-post-view {
    display: flex;
    padding: 50px;
    align-items: center;
    width: 100%;
    justify-content: center;
  }

  .illustration {
    flex: auto 0 0;
    margin-right: 50px;
  }

  .illustration >>> .concierge-illustration {
    fill: var(--color-illustrations);
  }

  h1 {
    font-weight: bold;
    margin-bottom: 1.5vh;
    max-width: 400px;
  }

  p {
    font-size: 16px;
    line-height: 40px;
  }
</style>
