<template>
  <div class="post-view">
    <MetaEditor />
    <PostEditor />
  </div>
</template>

<script>
import PostEditor from '../editors/PostEditor/PostEditor.vue';
import MetaEditor from '../editors/MetaEditor/MetaEditor.vue';
import { mapActions } from 'vuex';

export default {
  components: {
    PostEditor,
    MetaEditor,
  },
  data() {
    return {
      id: this.$route.params.post_id,
    };
  },
  methods: {
    ...mapActions('blockMenu', { updateBlockMenuPosition: 'updatePosition' }),
    ...mapActions('inlineMenu', { updateInlineMenuPosition: 'updatePosition' }),
  },
  mounted() {
    this.$el.addEventListener('scroll', this.updateBlockMenuPosition);
    this.$el.addEventListener('scroll', this.updateInlineMenuPosition);
  },
  beforeDestroy() {
    this.$el.removeEventListener('scroll', this.updateBlockMenuPosition);
    this.$el.removeEventListener('scroll', this.updateInlineMenuPosition);
  },
};
</script>

<style>
  .post-view {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-top: 57px;
  }
</style>
