<template>
  <div
    class="block-menu"
    ref="blockMenuRoot"
    :style="{ display: isVisible ? '' : 'none', left: `${position.x -130}px`, top: `${position.y}px` }"
    @focusin="isInFocus = true"
    @focusout="isInFocus = false">
    <SectionButton
      class="btn--section"
      @click="toggleDropdown"
      :label="label"
      :active="dropdownShown"
    />
    <div class="block-menu__dropdown" :style="{ opacity: dropdownShown ? '1' : '0', pointerEvents: dropdownShown ? 'all' : 'none' }">
      <ul class="block-list">
        <li
          tabindex="1"
          v-for="option in options"
          :key="option.name"
          :class="['block-list__entry', { 'is-active': isSelectedOption(option) }]"
          @click="selectOption(option)"
        ><span class="block-list__entry-icon">
          <Icon v-if="option.icon" :name="option.icon" class="block-list__entry-symbol" />
          {{ getOptionIcon(option) }}
        </span>{{ option.label }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
  import SectionButton from './SectionButton.vue';
  import { mapGetters, mapActions } from 'vuex';
  import Icon from 'vue-awesome/components/Icon.vue';
  
  export default {
    components: { 
      SectionButton,
      Icon,
    },

    data: () => ({
      dropdownShown: false,
      selectedBlockType: null,
      isInFocus: false,
    }),

    computed: {
      ...mapGetters('blockMenu', ['position', 'options', 'selectedOption', 'visibility']),
      ...mapGetters('blockMenu', { '_options': 'options' }),
      ...mapGetters('editor', ['selectedModuleIndex']),
      
      options() {
        return this._options.filter(opt => !opt.hidden);
      },

      label() {
        const selectedOption = this.options.find(option => option._type === 'section' && option.tag === this.selectedOption);
        return (selectedOption && this.getOptionIcon(selectedOption)) || '+';
      },
      
      isVisible() {
        return this.isInFocus || this.visibility;
      },
    },

    methods: {
      ...mapActions('editor', ['toggleSection', 'insertCard']),
      
      toggleDropdown() {
        this.dropdownShown = !this.dropdownShown;
      },
      
      selectOption(option) {
        switch (option._type) {
          case 'section':
            this.toggleSection([this.selectedModuleIndex, option.tag]);
            break;
          case 'card':
            this.insertCard([this.selectedModuleIndex, option.name]);
            break;
        }

        this.toggleDropdown();
      },
      
      isSelectedOption(option) {
        return option.tag === this.selectedOption;
      },
      
      outsideClickHandler(event) {
        if (!this.dropdownShown) { return; }
        if (!this.$el.contains(event.target)) { this.toggleDropdown(); }
      },
      
      getOptionIcon(option) {
        if (option.icon) { return ''; }
        return option.iconText;
      },
    },

    created() {
      window.addEventListener('click', this.outsideClickHandler);
    },

    destroyed() {
      window.removeEventListener('click', this.outsideClickHandler);
    },
  };
</script>

<style scoped>
  .block-menu {
    position: fixed;
    overflow: visible;
    min-width: 200px;
    transform: translate(-50%, -14px);
    z-index: 100;
    pointer-events: none;
  }

  .block-menu__dropdown {
    pointer-events: auto;
    background-color: var(--color-menu-background);
    border-radius: 5px;
    position: relative;
    color: var(--color-menu-entry-text);
    margin-top: 10px;
    padding: 20px 0;
    width: 100%;
  }

  .block-menu__dropdown:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    transform: translateY(-50%) rotate(45deg);
    background-color: var(--color-menu-background);
    display: block;
    top: 0;
    left: calc(50% - 5px);
  }

  .block-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--fonts-content-mono);
    font-size: 13px;
    padding: 5px;
  }

  .block-list__entry {
    white-space: nowrap;
    cursor: pointer;
    padding: 0 20px;
    margin: 2px 0;
    outline: none;
    border-radius: 3px;
  }

  .block-list__entry.is-active {
    background-color: var(--color-menu-entry-background-active);
    color: var(--color-menu-entry-text-active);
  }

  .block-list__entry:hover {
    background-color: var(--color-menu-entry-background-hover);
    color: var(--color-menu-entry-text-hover);
  }

  .block-list__entry-icon {
    width: 2ch;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
  }

  .block-list__entry-symbol {
    height: 10px;
    width: auto;
  }

  .btn--section {
    margin: 0 auto;
    display: block;
    pointer-events: auto;
  }
</style>
