<template>
  <div class="content-module">
    <div ref="editorPost" class="content-module__content" />
  </div>
</template>

<script>
  import MobiledocKit from 'mobiledoc-kit';
  import { mapActions, mapGetters, mapMutations } from 'vuex';
  import { cloneDeep, debounce } from 'lodash';
  import { parseHtmlString, showOpenDialogAsync } from '../../../utils';

  export default {
    props: {
      id: { type: String, required: true },
      index: { type: Number, required: true },
    },

    data() {
      return {
        editor: {},
        debounceTimer: null,
        waitingForSelectionRelease: false,
        // Range gets mutated by the editor, thus it
        // can not be in the vuex store and has to be managed
        // inside the component.
        tempRange: null,
        isTearingDown: false,
        shortcuts: {},
      };
    },

    computed: {
      ...mapGetters('editor', {
        _getOptions: 'getOptions',
        _getActiveMarkupTags: 'getActiveMarkupTags',
        _getActiveSectionTags: 'getActiveSectionTags',
        _getAllowedSections: 'getAllowedSections',
        _getAllowedMarkup: 'getAllowedMarkup',
        _getAllowedCards: 'getAllowedCards',
        _getAllowedAtoms: 'getAllowedAtoms',
      }),
      ...mapGetters('project', ['availableSections', 'availableMarkup', 'availableCards', 'availableAtoms']),
      options() { return this._getOptions(this.index); },
      activeMarkupTags() { return this._getActiveMarkupTags(this.index); },
      activeSectionTags() { return this._getActiveSectionTags(this.index); },
      allowedSections() { return this._getAllowedSections(this.index); },
      allowedMarkup() { return this._getAllowedMarkup(this.index); },
      allowedCards() { return this._getAllowedCards(this.index); },
      allowedAtoms() { return this._getAllowedAtoms(this.index); },
      allowedBlocks() { 
        return [
          ...this.allowedSections,
          ...this.allowedMarkup,
          ...this.allowedCards,
          ...this.allowedAtoms,
        ];
      },
      unsupportedBlocks() {
        const allowedSectionTags = this.allowedSections.map(section => section.tag);
        const allowedMarkupTags = this.allowedMarkup.map(markup => markup.tag);
        const allowedCardNames = this.allowedCards.map(card => card.name);
        const allowedAtomNames = this.allowedAtoms.map(atom => atom.name);

        const availableSectionTags = this.availableSections.map(section => section.tag);
        const availableMarkupTags = this.availableMarkup.map(markup => markup.tag);
        const availableCardNames = this.availableCards.map(card => card.name);
        const availableAtomNames = this.availableAtoms.map(atom => atom.name);
        
        return {
          sections: availableSectionTags.filter(section => !allowedSectionTags.includes(section)),
          markup: availableMarkupTags.filter(markup => !allowedMarkupTags.includes(markup)),
          cards: availableCardNames.filter(card => !allowedCardNames.includes(card)),
          atoms: availableAtomNames.filter(atom => !allowedAtomNames.includes(atom)),
        };
      },
      api() {
        return {
          insertAtom: this.insertAtom,
          insertCard: this.insertCard,
          toggleMarkup: this.toggleMarkup,
          toggleSection: this.toggleSection,
          hasSelection: this.hasSelection,
          hasCursor: this.hasCursor,
          reload: this.reload,
          save: this.save,
        };
      },
    },

    methods: {
      ...mapActions('blockMenu', {
        _updateBlockMenuPosition: 'updatePosition',
        _setBlockMenuVisibility: 'setVisibility',
        _updateBlockMenuSelectedOption: 'updateSelectedOption',
      }),
      
      ...mapActions('inlineMenu', {
        _updateInlineMenuPosition: 'updatePosition',
        _setInlineMenuVisibility: 'setVisibility',
        _updateInlineMenuSelectedOptions: 'updateSelectedOptions',
      }),

      ...mapActions('posts', ['updateCurrentPostModule']),

      ...mapActions('posts', {
        _saveAsset: 'saveAsset',
        _deleteAsset: 'deleteAsset',
        _listAssets: 'listAssets',
      }),

      ...mapMutations('editor', {
        _setApi: 'setApi',
        _setActiveMarkupTags: 'setActiveMarkupTags',
        _setActiveSectionTags: 'setActiveSectionTags',
      }),


      // API ACCESSIBLE METHODS
      // ---
      // The following methods will be exposed as actions to the editor
      // module of the vuex store.

      
      /**
       * Inserts an atom at the current cursor position.
       * @param {String} name - The name of the atom.
       * @param {String} [text=''] - 
       * @param {Object} payload - 
       */
      insertAtom(name, text = '', payload = {}) {
        this.editor.insertAtom(name, text, payload);
      },

      /**
       * Insert a card at after the current selected block.
       * @param {String}  name - The name of the card
       * @param {Object}  [payload={}] - Additional data for the card. 
       * @param {Boolean} [editMode=true] - Show the card in edit-mode (don’t change 
       *                                    this if you do not have a good reason to do so).
       */
      insertCard(name, payload = {}, editMode = true) {
        this._restoreRange();
        this.editor.insertCard(name, payload, editMode);
        this._updateMenus();
      },
      
      /**
       * Toggle markup for the currently selected text.
       * @param {String} tag - The tag name of the markup.
       * @param {Object} [attributes={}] - Attributes for the html element.
       *                                   Only `rel` and `href` are allowed.
       */
      toggleMarkup(tag, attributes = {}) {
        if (attributes === {}) {
          this.editor.toggleMarkup(tag);
        } else {
          // This works at the moment, but may break if you click on a button
          // before. If it breaks then, you have to make sure the editor
          // is selected before running the following code.
          // Look at the original source, to see how they do it:
          // http://bustle.github.io/mobiledoc-kit/demo/docs/editor_editor.js.html#line860
          // (They use undocumented functions)
          this.editor.run(postEditor => {
            const markup = postEditor.builder.createMarkup(tag, attributes);
            postEditor.toggleMarkup(markup);
          });
        }

        this._updateActiveSectionTags();
        this._updateActiveMarkupTags();
      },

      /**
       * Converts the current selected block into the given section.
       * @param {String} tag - The tag name of the section.
       */
      toggleSection(tag) {
        this._restoreRange();
        this.editor.toggleSection(tag);
        this._updateMenus();
      },

      /**
       * Determines if the this content-area has a selection.
       * @returns {Bloolean} Returns `true` if more than one character has been selected.
       */
      hasSelection() {
        if (!this.hasCursor()) { return false; }
        return !!getSelection().toString().length;
      },

      /**
       * Determines if the current content-area has a cursor.
       * @returns {Boolean}
       */
      hasCursor() {
        return this.editor.hasCursor();
      },

      /**
       * Reloads the content-area.
       * @param {Boolean} [keepCurrentContent=true] - If set to false, the editor will reload and
       *                                              delete content, that has been shown before.
       */
      reload(keepCurrentContent = true) {
        const currentContent = this._serialize();
        this._destroy();
        if (keepCurrentContent) {
          this._initEditor({ ...this.options, mobiledoc: currentContent });  
        } else {
          this._initEditor();  
        }
        this._renderEditor();
      },

      /**
       * Save the current state of the content-area to the disk.
       */
      save() {
        const mobiledoc = this._serialize();
        this.updateCurrentPostModule([this.index, mobiledoc]);
        this.$emit('save', mobiledoc);
      },



      // PRIVATE METHODS
      // ---
      // These methods are not exposed to any API and can therefore can not be used.

      _serialize() {
        return this.editor.serialize();
      },

      _restoreRange() {
        this.editor.selectRange(this.tempRange);
      },

      _initEditor(options) {
        options = options || this.options;
        this.$emit('willCreateEditor');
        // Deep clone is important. The editor will mutate the
        // options object. -.-
        const clonedOptions = cloneDeep(options);

        // Curry cards, to improve some native mobiledockit functions
        // and provide concierge specific utility functions.
        clonedOptions.cards = clonedOptions.cards.map(card => this._curryCard(card));

        this.editor = new MobiledocKit.Editor(clonedOptions);
        this.$emit('didCreateEditor', this.editor);

        this._initShortcuts();

        this._updateRange();
        
        this.editor.cursorDidChange(this._onCursorDidChange);
        this.editor.inputModeDidChange(this._onInputModeDidChange);
        this.editor.didUpdatePost(this._onDidUpdatePost);

        this._setApi([this.index, this.api]);
      },

      _onCursorDidChange() {
        this._updateRange();
        this._updateMenus();
        this._updateActiveMarkupTags();
      },

      _onInputModeDidChange() {
        this._updateActiveSectionTags();
      },

      _onDidUpdatePost() {
        this.save();
      },

      _updateActiveMarkupTags() {
        const activeMarkupTags = this.editor.activeMarkups.map(markup => markup.tagName);
        this._setActiveMarkupTags([this.index, activeMarkupTags]);
        this._updateInlineMenuSelectedOptions(this.activeMarkupTags);
      },

      _updateActiveSectionTags() {
        const activeSectionTags = this.editor.activeSections.map(section => {
          return section.isNested ? section.parent.tagName : section.tagName;
        });
        this._setActiveSectionTags([this.index, activeSectionTags]);
        this._updateBlockMenuSelectedOption(this.activeSectionTags[0] || null);
      },

      _updateRange() {
        if (!this.hasCursor()) { return; }
        this.tempRange = this.editor.range;
      },

      _showInlineMenu() {
        if (this.editor.range.head.offset - this.editor.range.tail.offset !== 0) {
          this._updateInlineMenuPosition();
          this._setInlineMenuVisibility(true);
          this._updateActiveMarkupTags();
        }
        this.waitingForSelectionRelease = false;
      },

      _updateMenus() {
        if (this.hasSelection()) {
          if (!this.waitingForSelectionRelease) {
            this.waitingForSelectionRelease = true;
            window.addEventListener('mouseup', this._showInlineMenu, { once: true });
          }
          this._setBlockMenuVisibility(false); 
          return;
        }

        if (!this.editor.hasCursor()) {
          this._setBlockMenuVisibility(false);
          return;
        }

        this._setInlineMenuVisibility(false);
        this._updateBlockMenuPosition();
        this._setBlockMenuVisibility(true);
        this._updateActiveSectionTags();
        this._updateActiveMarkupTags();
      },

      _renderEditor() {
        this.editor.render(this.$refs.editorPost);
      },

      _destroy() {
        this.isTearingDown = true;
        this.editor.destroy();
        this.editor = {};
      },

      _parseShortcut(block) {
        const shortcut = {
          name: block.name,
          str: block.shortcut,
        };

        switch (block._type) {
          case 'section':
            shortcut.run = () => this.toggleSection(block.tag);
            break;
          case 'markup':
            shortcut.run = () => this.toggleMarkup(block.tag);
            break;
          case 'card':
            shortcut.run = () => this.insertCard(block.name);
            break;
          case 'atom':
            shortcut.run = () => this.insertAtom(block.name);
            break;
          default: 
            throw new Error(`"${block._type}" is not a valid block type.`);
        }

        return shortcut;
      },

      _initShortcuts() {
        this.shortcuts = [
          ...this.availableSections,
          ...this.availableMarkup,
          ...this.availableCards,
          ...this.availableAtoms,
        ].filter(block => block.shortcut)
         .reduce((shortcuts, block) => ({ ...shortcuts, [block.name]: this._parseShortcut(block) }), {});
        this._updateAllowedShortcuts();
      },

      _updateAllowedShortcuts() {
        this._disableAllShortcuts();
        this.allowedBlocks
          .filter(block => block.shortcut)
          .forEach(block => { this.shortcuts[block.name] && this.editor.registerKeyCommand(this.shortcuts[block.name]); });
      },
      
      _disableAllShortcuts() {
        Object.values(this.shortcuts).forEach(shortcut => this.editor.unregisterKeyCommands(shortcut.name));
        this._disableBuiltInShortcuts();
      },

      _disableBuiltInShortcuts() {
        // TODO: Wait for my pull requst to go through, then improve
        // the method of disabling the default shortcuts.
        // Currently, I just override them.
        // https://github.com/bustle/mobiledoc-kit/pull/591
        const unwanted = ['CTRL+B', 'CTRL+I', 'CTRL+U', 'META+B', 'META+I', 'META+U'];
        this.editor._keyCommands
          .filter(cmd => unwanted.includes(cmd.str))
          .forEach(cmd => this.editor.registerKeyCommand({ str: cmd.str, run() {} }));
      },

      _curryCard(card) {
        const edit = this._curryCardEditMethod(card.edit);
        const render = this._curryCardRenderMethod(card.render);
        return { ...card, render, edit };
      },

      _curryCardRenderMethod(method) {
        return ({ env, options, payload }) => {
          // Force the card to always use the render method,
          // when it is rendered in the editor.
          if (env.isInEditor) { return env.edit(); }

          return method({ env, options, payload });
        };
      },

      _curryCardEditMethod(method) {
        return (args) => {
          const {
            env: originalEnv,
            options: originalOptions,
            payload: originalPayload,
          } = args;

          // Clone the original environment, before modifing it.
          const env = { ...originalEnv };

          // Override the origin with a state argument
          env.onTeardown = (callback) => originalEnv.onTeardown(() => callback(this.isTearingDown)),

          // Override the original to also save the editor.
          env.save = (newPayload, rerender = false) => {
            originalEnv.save(newPayload, rerender);
            this.save();
          };

          // Add a new debounced save function to the env.
          env.saveDebounced = (newPayload, wait = 1000) => {
            const debouncedSave = debounce(env.save, wait);
            return debouncedSave(newPayload);
          };

          // Concierge exclusives
          const utils = {
            parseHtmlString,
            openDialog: showOpenDialogAsync,
            saveAsset: this._saveAsset,
            deleteAsset: this._deleteAsset,
            listAssets: this._listAssets,
          };
          
          return method({ env, utils, options: originalOptions, payload: originalPayload });
        };
      },

      _removeUnsupportedParts() {
        // This function uses lots of undocumented code.
        // If anything breaks, these parts have helped me to write this:
        //
        // PostEditor.removeMarkupFromRange:
        // https://github.com/bustle/mobiledoc-kit/blob/master/src/js/editor/post.js#L726
        //
        // PostEditor.toggleMarkup:
        // https://github.com/bustle/mobiledoc-kit/blob/master/src/js/editor/post.js#L758
        const unsupported = this.unsupportedBlocks;

        const del = this.editor.post.sections.toArray().filter(section => {
          if (section.isMarkupSection && unsupported.sections.includes(section.tagName)) { return true; }
          if (section.isCardSection && unsupported.cards.includes(section.name)) { return true; }
        });

        // TODO: Check if the user really wants to delete the unsupported blocks.
        this.editor.run(postEditor => {
          del.forEach(section => postEditor.removeSection(section));
        });

        const fullPost = this.editor.post.toRange();
        unsupported.markup.forEach(markup => {
          const hasMarkup = this.editor.detectMarkupInRange(fullPost, markup);
          if (!hasMarkup) { return; }
          this.editor.run(postEditor => {
            postEditor.removeMarkupFromRange(fullPost, hasMarkup);
          });
        });

        this.save();
      },
    },

    watch: {
      id() { this.reload(false); },
      allowedBlocks() {
        this._updateAllowedShortcuts();
        this._removeUnsupportedParts();
      },
    },

    beforeMount() {
      this._initEditor();
    },

    mounted() {
      this.$once('mounted', () => {
        this._renderEditor();
      });
      this.$emit('mounted');
    },

    beforeDestroy() {
      this._destroy();
    },
  };
</script>

<style>
  .content-module {
    max-width: 702px;
    margin: 0 auto;
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .content-module__content {
    flex: 1 1 auto;
    outline: 0;
    margin: 10vh 0;
    box-sizing: border-box;
    font-family: var(--fonts-content-serif);
  }

  .content-module__content.__has-no-content:not(:focus):before {
    content: "Start writing something!";
    position: abolute;
    opacity: 0.3;
  }

  .content-module__content p {
    margin: 0 0 26px 0;
  }

  .content-module__content h1,
  .content-module__content h2,
  .content-module__content h3,
  .content-module__content h4,
  .content-module__content h5,
  .content-module__content h6 {
    font-weight: 600;
  }

  .content-module__content h1 {
    font-size: 48px;
    margin: 0 0 26px 0;
    line-height: 1em;
    letter-spacing: -0.02em;
    font-weight: bold;
  }

  .content-module__content h2,
  .content-module__content h3,
  .content-module__content h4,
  .content-module__content h5 {
    margin-bottom: 23px;
  }

  .content-module__content pre,
  .content-module__content code, {
    font-family: var(--fonts-content-mono);
  }

  .content-module__content blockquote {
    padding-left: 11px;
    margin-left: 0;
    border-left: 3px solid var(--color-dark);
  }

  .content-module__content::selection {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .content-module blockquote {
    border-left: 4px solid var(--color-meta-field-border-hover);
  }
</style>
