<template>
  <div class="inline-menu" :style="{ left: `${position.x || 0}px`, top: `${position.y || 0}px`, display: visibility ? '' : 'none' }">
    <div class="inline-menu__body">
      <button
        v-for="(option, index) in options"
        :key="index"
        type="button"
        :class="{ 'is-selected': isSelected(option) }"
        class="inline-menu__button"
        :style="{ 'grid-column': (index%4)+1, 'grid-row': (index/4)+1 }"
        @click="selectOption(option)">
        <Icon v-if="option.icon" :name="option.icon" class="inline-menu__icon" />
        {{ getOptionIcon(option) }}
      </button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';
  import Icon from 'vue-awesome/components/Icon.vue';

  export default {
    components: { Icon },
    data() {
      return {
        selectedOptionsTemp: [],
      };
    },
    computed: {
      ...mapGetters('inlineMenu', ['position', 'selectedOptions', 'visibility']),
      ...mapGetters('inlineMenu', { '_options': 'options' }),
      ...mapGetters('editor', ['selectedModuleIndex']),
      options() {
        return this._options.filter(opt => !opt.hidden);
      },
    },
    methods: {
      ...mapActions('editor', ['toggleMarkup', 'insertAtom']),

      selectOption(option) {
        if (option._type === 'markup') {
          this.toggleMarkup([this.selectedModuleIndex, option.tag]);
        } else if (option._type === 'atom') {
          this.insertAtom([this.selectedModuleIndex, option.name]);
        }
      },
      
      isSelected(option) {
        return option._type === 'markup' && this.selectedOptions.includes(option.tag);
      },
      
      getOptionIcon(option) {
        if (option.icon) { return ''; }
        return option.iconText || '?';
      },
      gridButtonPosition(buttonIndex) {
        return {
          'grid-column': (buttonIndex % 4) + 1,
          'grid-row': (buttonIndex / 4) + 1,
        };
      },
    },
  };
</script>

<style scoped>
  .inline-menu {
    z-index: 100;
    position: absolute;
    transform: translate(-50%, 13px); /* 15/2 * √3 -> triangle height */
  }

  .inline-menu:before {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    left: 50%;
    position: absolute;
    background-color: var(--color-menu-background);
    z-index: -1;
  }

  .inline-menu__body {
    background-color: var(--color-menu-background);
    border-radius: 3px;
    overflow: hidden;
    z-index: 1000;
    display: grid;
    grid-auto-columns: 45px;
    padding: 5px;
    grid-gap: 5px;
  }

  .inline-menu__button {
    font-size: 30px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 0;
    display: block;
    outline: none;
    border-radius: 3px;
    color: var(--color-menu-entry-text);
  }

  .inline-menu__button.is-selected {
    color: var(--color-menu-entry-text-active);
    background-color: var(--color-menu-entry-background-active);
  }

  .inline-menu__button:hover {
    background-color: var(--color-menu-entry-background-hover);
    color: var(--color-menu-entry-text-hover);
  }

  .inline-menu__icon {
    display: block;
    margin: 0 auto;
    height: 23px;
    width: auto;
  }
</style>
