<template>
  <div class="post-editor">
    <ContentModule
      v-for="(module, index) in modules"
      :key="index"
      :id="selectedPostId"
      :index="index"
    />
  </div>
</template>

<script>
  import ContentModule from './ContentModule.vue';
  import { mapGetters } from 'vuex';

  export default {
    components: { ContentModule },

    computed: {
      ...mapGetters('posts', ['selectedPostId']),
      ...mapGetters('posts', { modules: 'selectedPostModules' }),
    },
  };
</script>

<style scoped>
  .post-editor {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  .post-editor >>> .content-module {
    flex: 1 1 auto;
  }
</style>
