<template>
  <button
    :class="['btn', 'btn--section', { 'is-active': active }]"
    @click="toggleActive"
  >{{ label }}</button>
</template>

<script>
  export default {
    props: {
      icon: { type: String, default: null },
      label: { type: String, default: '+' },
      active: { type: Boolean, required: true },
    },

    methods: {
      toggleActive() {
        this.$emit('click', !this.active);
      },
    },
  };
</script>

<style scoped>
  .btn--section {
    border: 2px solid var(--color-section-button);
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: transparent;
    font-family: var(--fonts-content-mono);
    font-weight: bold;
    font-size: 14px;
    line-height: 1em;
    padding: 2px 0 0 2px;
    text-align: center;
    outline: 0;
    cursor: pointer;
    color: var(--color-section-button);
  }

  .btn--section:hover {
    border-color: var(--color-highlight);
    color: var(--color-highlight);
  }

  .btn--section.is-active {
    background-color: var(--color-section-button);
    color: var(--color-main-background);
  }

  .btn--section.is-active:hover {
    background-color: var(--color-highlight);
  }
</style>
