<template>
  <div class="meta-editor__entry meta-editor__entry--date">
    <label for="">{{ name }}</label>
    <input class="meta-editor-entry__input" type="datetime-local" v-model.lazy="date" required />
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    props: {
      type: { type: String, required: true },
    },
    computed: {
      ...mapGetters('posts', ['getSelectedPostMetaByKey']),
      name() {
        return this.type
          .replace(/[-_ ]+/g, ' ')
          .split(' ')
          .map(word => word[0].toUpperCase() + word.slice(1))
          .join(' ');
      },
      date: {
        get() { return this.getSelectedPostMetaByKey(this.type).toISOString().slice(0, 16); },
        set(newContent) {
          const newDateTime = new Date(newContent);
          if (!(newDateTime instanceof Date && !isNaN(newDateTime))) { return; }
          this.updateCurrentPostMeta([this.type, new Date(newDateTime)]);
        },
      },
    },
    methods: {
      ...mapActions('posts', ['updateCurrentPostMeta']),
    },
  };
</script>

<style scoped>
  .meta-editor__entry {
    display: grid;
    grid-template-columns: 15% 85%;
  }

  .meta-editor-entry__input {
    background: transparent;
    border: 1px solid var(--color-meta-field-border);
    outline: none;
    border-radius: 2px;
    color: var(--color-main-text);
    padding-left: 7px;
  }

  .meta-editor-entry__input:focus,
  .meta-editor-entry__input:hover {
    border: 1px solid var(--color-meta-field-border-hover);
  }
</style>
