<template>
  <div class="meta-editor">
    <h1>Metadata</h1>
    <div class="meta-editor__pairs">
      <MetaEditorEntryPlain :type="'title'" :placeholder="titlePlaceholder" />
      <MetaEditorEntryPlain :type="'filename'" :placeholder="filenamePlaceholder" :disabled="isHomePage" />
      <MetaEditorEntryDate :type="'created'" />
      <MetaEditorEntryDropdown :type="'template'" :options="availableTemplates" :default="'default'" />
      <MetaEditorEntryTags :type="'tags'" />
    </div>
  </div>
</template>

<script>
  import MetaEditorEntryDropdown from './MetaEditorEntryDropdown.vue';
  import MetaEditorEntryPlain from './MetaEditorEntryPlain.vue';
  import MetaEditorEntryDate from './MetaEditorEntryDate.vue';
  import MetaEditorEntryTags from './MetaEditorEntryTags.vue';
  import { mapGetters } from 'vuex';
  import { kebabCase } from 'lodash';

  export default {
    components: {
      MetaEditorEntryDropdown,
      MetaEditorEntryDate,
      MetaEditorEntryTags,
      MetaEditorEntryPlain,
    },
    computed: {
      ...mapGetters('project', ['availableTemplates']),
      ...mapGetters('posts', ['selectedPostId', 'getSelectedPostMetaByKey', 'generateSelectedPostTitleFromContent']),
      titlePlaceholder() {
        const title = this.generateSelectedPostTitleFromContent();
        if (title) { return title; }

        return this.selectedPostId;
      },
      filenamePlaceholder() {
        const isHome = this.getSelectedPostMetaByKey('home');
        if (isHome) { return 'index'; }
        const title = this.getSelectedPostMetaByKey('title') || this.titlePlaceholder;
        return kebabCase(title);
      },
      isHomePage() {
        return this.getSelectedPostMetaByKey('home');
      },
    },
  };
</script>

<style scoped>
  .meta-editor {
    width: 100%;
    max-width: 702px;
    margin: 0 auto;
  }

  .meta-editor__pairs {
    font-size: 14px;
  }
  .meta-editor h1 {
    font-size: 14px;
    font-weight: bold;
  }
</style>
