<template>
  <div class="meta-editor__entry">
    <label for="">{{ name }}</label>
    <select class="meta-editor-entry__input" v-model="content" :disabled="disabled">
      <option v-for="(option, index) in options" :key="index">{{ option }}</option>
    </select>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    props: {
      type: { type: String, required: true },
      disabled: { type: Boolean, default: false },
      options: { type: Array, required: true },
      default: { type: String, required: true },
    },
    computed: {
      ...mapGetters('posts', ['getSelectedPostMetaByKey']),
      name() {
        return this.type
          .replace(/[-_ ]+/g, ' ')
          .split(' ')
          .map(word => word[0].toUpperCase() + word.slice(1))
          .join(' ');
      },
      content: {
        get() { return this.getSelectedPostMetaByKey(this.type) || this.default; },
        set(newContent) { this.updateCurrentPostMeta([this.type, newContent]); },
      },
    },
    methods: {
      ...mapActions('posts', ['updateCurrentPostMeta']),
    },
  };
</script>

<style scoped>
  .meta-editor__entry {
    display: grid;
    grid-template-columns: 15% 85%;
  }

  .meta-editor-entry__input {
    background: transparent;
    border: 1px solid var(--color-meta-field-border);
    outline: none;
    color: var(--color-main-text);
  }

  .meta-editor-entry__input:focus,
  .meta-editor-entry__input:hover {
    border: 1px solid var(--color-meta-field-border-hover);
  }
</style>
