<template>
  <div class="meta-editor__entry">
    <label for="">{{ name }}</label>
    <div class="meta-editor-entry__input">
      <span v-for="(tag, index) in tags" @click="removeTag(index)" class="meta-editor__tag" :key="index" contenteditable="false">{{ tag }}</span>
      <input class="input" v-model="inputText" @keydown.delete="checkTagDeletion" contenteditable />
    </div>
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    props: {
      type: { type: String, required: true },
      disabled: { type: Boolean, default: false },
    },
    data() {
      return {
        temporaryInputText: '',
      };
    },
    computed: {
      ...mapGetters('posts', ['getSelectedPostMetaByKey']),
      
      name() {
        return this.type
          .replace(/[-_ ]+/g, ' ')
          .split(' ')
          .map(word => word[0].toUpperCase() + word.slice(1))
          .join(' ');
      },
      tags() { return this.getSelectedPostMetaByKey(this.type); },

      inputText: {
        get() { return this.temporaryInputText; },
        set(event) { this.updateTags(event); },
      },
    },
    methods: {
      ...mapActions('posts', ['updateCurrentPostMeta']),
      updateTags(text) {
        const parsedText = (text.match(/[\w-]+, */g) || []).reduce((result, match) => ({
          ...result,
          tags: result.tags.concat([match.replace(/, */, '')]),
          rest: result.rest.replace(match, ''),
        }), { tags: this.tags, rest: text });
        
        this.temporaryInputText = parsedText.rest;

        this.updateCurrentPostMeta([this.type, parsedText.tags]);
      },
      removeTag(index) {
        const tags = this.tags;
        this.updateCurrentPostMeta([this.type, tags.slice(0, index).concat(tags.slice(index + 1))]);
      },
      checkTagDeletion(event) {
        if (event.target.selectionEnd > 0 || this.tags.length < 1) { return; }
        const tags = this.tags;
        const index = tags.length - 1;
        this.updateCurrentPostMeta([this.type, tags.slice(0, index).concat(tags.slice(index + 1))]);
      },
    },
  };
</script>

<style scoped>
  .meta-editor__entry {
    display: grid;
    grid-template-columns: 15% 85%;
  }

  .meta-editor-entry__input {
    background: transparent;
    border: 1px solid var(--color-meta-field-border);
    outline: none;
    border-radius: 2px;
    display: flex;
    padding-left: 7px;
  }

  .meta-editor-entry__input:focus,
  .meta-editor-entry__input:hover {
    border: 1px solid var(--color-meta-field-border-hover);
  }

  .input {
    flex-grow: 1;
    display: inline-block;
    outline: none;
    background-color: transparent;
    border: 0;
    color: var(--color-main-text);
  }

  .meta-editor__tag {
    font-size: 11px;
    padding: 0px 6px;
    line-height: 20px;
    border-radius: 2px;
    background-color: var(--color-meta-tag-background);
    color: var(--color-meta-tag-text);
    margin: auto 2px;
    height: 20px;
  }
</style>
