<template>
  <div class="meta-editor__entry">
    <label for="">{{ name }}</label>
    <input
      class="meta-editor-entry__input"
      type="text"
      v-model="content"
      :disabled="disabled"
      :placeholder="placeholder"
    />
  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    props: {
      type: { type: String, required: true },
      disabled: { type: Boolean, default: false },
      placeholder: { type: String, default: '' },
    },
    computed: {
      ...mapGetters('posts', ['getSelectedPostMetaByKey']),
      name() {
        return this.type
          .replace(/[-_ ]+/g, ' ')
          .split(' ')
          .map(word => word[0].toUpperCase() + word.slice(1))
          .join(' ');
      },
      content: {
        get() {
          const content = this.getSelectedPostMetaByKey(this.type);
          return content === this.placeholder ? '' : content;
        },
        set(newContent) {
          const content = newContent ? newContent : this.placeholder;
          this.updateCurrentPostMeta([this.type, content]);
        },
      },
    },
    methods: {
      ...mapActions('posts', ['updateCurrentPostMeta']),
    },
    created() {
      // ensure some kind of meta exists in the field.
      if (!this.getSelectedPostMetaByKey(this.type)) {
        this.updateCurrentPostMeta([this.type, this.placeholder]);
      }
    },
    watch: {
      placeholder(newPlaceholder, oldPlaceholder) {
        // write the placeholder to the store, so that it can be read by ssg plugins
        const content = this.getSelectedPostMetaByKey(this.type);
        if (content === oldPlaceholder) { this.updateCurrentPostMeta([this.type, newPlaceholder]); }
      },
    },
  };
</script>

<style scoped>
  .meta-editor__entry {
    display: grid;
    grid-template-columns: 15% 85%;
  }

  .meta-editor-entry__input {
    background: transparent;
    border: 1px solid var(--color-meta-field-border);
    outline: none;
    border-radius: 2px;
    color: var(--color-main-text);
    padding-left: 7px;
  }

  .meta-editor-entry__input:focus,
  .meta-editor-entry__input:hover {
    border: 1px solid var(--color-meta-field-border-hover);
  }
</style>
