<template>
  <div class="modal modal--process">
    <p>{{ intro }}</p>
    <ul>
      <li v-for="(task, index) in parsedTasks" :key="index" :class="task.class">
        <span class="process-icon-wrapper"><Icon :name="task.icon" class="process-icon" /></span>{{ task.label }}
      </li>
    </ul>
  </div>
</template>

<script>
  import Icon from 'vue-awesome/components/Icon.vue';

  export default {
    components: { Icon },
    props: {
      intro: { type: String, default: 'Please wait a moment, while we …' },
      tasks: {
        type: Array,
        default: () => [],
        validator: (tasks) => tasks.every(task => {
          return (task.status && ['FINISHED', 'RUNNING', 'PENDING'].includes(task.status));
        }),
      },
    },
    computed: {
      parsedTasks() {
        return this.tasks.map((task, index) => ({
          label: task.label || `finish task #${index}`,
          icon: (task.status === 'FINISHED' && 'check')
             || (task.status === 'RUNNING' && 'cog')
             || (task.status === 'PENDING' && 'clock-o'),
          class: (task.status === 'FINISHED' && 'isDone')
              || (task.status === 'RUNNING' && 'isRunning')
              || (task.status === 'PENDING' && 'isPending'),
        }));
      },
    },
  };
</script>

<style scoped>
  .modal {
    background-color: var(--color-main-background);
    padding: 75px 100px;
    border: 2px solid var(--color-modal-border);
    border-radius: 3px;
  }

  .isRunning .process-icon {
    animation: spin 2s linear infinite;
  }

  .process-icon-wrapper {
    display: inline-block;
    min-width: 3ch;
    position: relative;
    top: 2px;
    margin-left: 30px;
  }

  .isPending {
    opacity: 0.3;
  }

  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>
