<template>
  <button
    class="button button--borderless"
  >{{ label }}</button>
</template>

<script>
  export default {
    props: {
      label: { type: String, required: true },
      icon: { type: String, default: '' },
    },
  };
</script>

<style>
  .button--borderless {
    font-size: 14px;
    line-height: 1em;
    color: var(--color-sidebar-button-text);
    padding: 8px 11px;
    margin-left: -11px;
    border-radius: 3px;
    border: 2px solid var(--color-sidebar-button-border);
    outline: 0;
  }

  .button--borderless:hover {
    border-color: var(--color-sidebar-button-border-hover);
  }

  .button--borderless:active {
    border-color: var(--color-sidebar-button-background-active);
    background-color: var(--color-sidebar-button-background-active);
  }
</style>
