<template>
  <button type="button" class="inline-text-button">{{ label }}</button>
</template>

<script>
  export default {
    props: {
      label: { type: String, required: true },
    },
  };
</script>

<style>
  .inline-text-button {
    font-size: inherit;
    border: 2px solid var(--color-main-button-border);
    border-radius: 3px;
    padding: 5px 8px;
    margin: -5px 0px;
    display: inline-block;
    cursor: pointer;
    color: var(--color-main-text);
  }

  .inline-text-button:hover,
  .inline-text-button:focus {
    border-color: var(--color-main-button-border-hover);
    outline: 0;
  }

  .inline-text-button:active {
    border-color: var(--color-main-button-background-active);
    background-color: var(--color-main-button-background-active);
  }
</style>
