<template>
  <div class="project-page">
    <BlockMenu />
    <InlineMenu />
    <TheSidebar class="sidebar" />
    <router-view />
  </div>
</template>

<script>
  import TheSidebar from '../sidebar/TheSidebar.vue';
  import BlockMenu from '../editors/PostEditor/BlockMenu.vue';
  import InlineMenu from '../editors/PostEditor/InlineMenu.vue';

  export default {
    components: {
      TheSidebar,
      BlockMenu,
      InlineMenu,
    },
  };
</script>

<style scoped>
  .project-page {
    display: flex;
    flex: 1;
  }

  .sidebar {
    flex: 0 0 300px;
  }

  .post-view {
    flex: 1;
  }
</style>
