<template>
  <div class="welcome-page">
    <WelcomeIllustration class="illustration" />
    <div class="welcome-text">
      <h1>Good sir, what can I help you with today?</h1>
      
      <p>To get started with Concierge you need an existing project.</p>
      <p>
        <InlineTextButton
          class="btn"
          label="Open an existing project"
          @click.native="openProject()"
        /> if you already have one.
      </p>
      <p>
        <InlineTextButton
          class="btn"
          label="Download the demo config"
          @click.native="cloneRepo('https://gitlab.com/hpohlmeyer/concierge-demo-project-ready.git', 'demo-config')"
        /> if you just want to try Concierge.
      </p>
      <p>
        <InlineTextButton
          class="btn"
          label="Take a look at the documentation"
          @click.native="openURL('https://gitlab.com/hpohlmeyer/concierge#concierge')"
        /> if you need help with your own project.
      </p>
    </div>
  </div>
</template>

<script>
  import InlineTextButton from '../main/buttons/InlineTextButton.vue';
  import WelcomeIllustration from '../../assets/illustrations/welcome-illustration.svg';
  import { mapActions } from 'vuex';
  import { shell } from 'electron';
  import { showSaveDialogAsync, gitClone } from '../../utils';

  export default {
    components: {
      WelcomeIllustration,
      InlineTextButton,
    },
    
    methods: {
      ...mapActions('project', ['openProject']),
      ...mapActions('modals', ['runTasksWithModal']),
      openURL(url) {
        shell.openExternal(url);
      },
      async cloneRepo(repoLink, title) {
        const targetDest = await showSaveDialogAsync({ defaultPath: `*/${title}` });
        if (!targetDest) { return; }

        const tasks = [{ label: '… clone the repository.', func: () => gitClone(repoLink, targetDest) }];
        await this.runTasksWithModal({ tasks });

        // TODO: Ensure all npm packages are installed.
        this.openProject(targetDest);
      },
    },
  };
</script>

<style scoped>
  .welcome-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 8vh;
  }

 .illustration {
   height: 45vh;
   width: auto;
   margin-bottom: 6vh;
 }

 .illustration >>> .concierge-illustration {
   fill: var(--color-illustrations);
 }

 h1 {
   font-weight: bold;
   margin-bottom: 3vh;
 }

 p {
   font-size: 16px;
   line-height: 40px;
 }
</style>
