<template>
  <div :class="['title-bar', { 'in-focus': windowFocus }]" />
</template>

<script>
  export default {
    data() {
      return {
        windowFocus: document.hasFocus(),
      };
    },
    created() {
      window.addEventListener('focus', () => this.windowFocus = true);
      window.addEventListener('blur', () => this.windowFocus = false);
    },
    beforeDestroy() {
      window.removeEventListener('focus', () => this.windowFocus = true);
      window.removeEventListener('blur', () => this.windowFocus = false);
    },
  };
</script>

<style scoped>
  .title-bar {
    height: 22px;
    width: 100%;
    -webkit-app-region: drag;
    position: absolute;
    z-index: 200;
  }
</style>
