<template>
  <footer class="sidebar__footer">
    <BorderlessButton
      :label="'New Post'"
      @click.native="createNewPost('default')"
    />
  </footer>
</template>

<script>
  import BorderlessButton from '../../main/buttons/BorderlessButton.vue';
  import { mapActions } from 'vuex';
  
  export default {
    components: { BorderlessButton },
    methods: {
      ...mapActions('posts', ['createNewPost']),
    },
  };
</script>

<style>
  .sidebar__footer {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 27px;
    border-top: 1px solid var(--color-sidebar-divider);
  }
</style>
