<template>
  <aside class="sidebar">
    <SearchField />
    <PostList />
    <SidebarFooter />
  </aside>
</template>

<script>
  import SearchField from './SearchField/SearchField.vue';
  import PostList from './PostList/PostList.vue';
  import SidebarFooter from './SidebarFooter/SidebarFooter.vue';

  export default {
    components: {
      PostList,
      SearchField,
      SidebarFooter,
    },
  };
</script>

<style scoped>
  .sidebar {
    color: var(--color-sidebar-entry-text);
    -webkit-font-smoothing: var(--text-rendering-sidebar);
    max-width: 300px;
    background-color: var(--color-sidebar-background);
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 22px; /* Remove titlebar height */
  }

  .sidebar >>> .post-list {
    flex: 1 1 auto;
  }
</style>
