<template>
  <div id="app" :style="theme">
    <TheTitleBar />
    <ModalLayerView v-if="hasBlockingModals">
      <ProcessModal
        v-for="modal in processModals"
        :key="modal.id"
        :intro="modal.intro"
        :tasks="modal.tasks"
      />
    </ModalLayerView>
    <router-view />
  </div>
</template>

<script>
  import TheTitleBar from './components/main/TheTitleBar.vue';
  import ModalLayerView from './components/views/ModalLayerView.vue';
  import { mapActions, mapGetters } from 'vuex';
  import { ipcRenderer } from 'electron';
  import ProcessModal from './components/modals/ProcessModal.vue';
  import { kebabCase } from 'lodash';

  export default {
    name: 'App',
    components: {
      TheTitleBar,
      ModalLayerView,
      ProcessModal,
    },
    computed: {
      ...mapGetters('modals', ['processModals', 'hasBlockingModals']),
      ...mapGetters('project', { '_theme': 'theme' }),
			theme() {
        return Object.entries(this._theme)
          .reduce((theme, [categoryName, category]) => 
            ({ ...theme, ...this._convertThemeVarsToCSS(category, categoryName)}), {});
      },
    },
    methods: {
      ...mapActions('project', [
        'closeProject',
        'openProject',
        'previewSite',
        'deploySite',
        'exportSite',
      ]),
      _convertThemeVarsToCSS(varObj, namespace = '') {
        return Object.entries(varObj).reduce((css, [name, val]) => {
          const prefix = namespace ? `--${kebabCase(namespace)}-` : '--';
          const varName = prefix + kebabCase(name);
          return { ...css, [varName]: val };
        }, {});
      },
    },
    created() {
      ipcRenderer.on('open-project', () => this.openProject());
      ipcRenderer.on('close-project', this.closeProject);
      ipcRenderer.on('preview-site', () => this.previewSite());
      ipcRenderer.on('deploy-site', () => this.deploySite());
      ipcRenderer.on('export-site', () => this.exportSite());
    },
  };
</script>

<style>
  /* Fonts ------------------------------------------------ */
  @font-face {
    font-family: 'PT Serif';
    src: url('assets/fonts/pt-serif-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    src: url('assets/fonts/pt-serif-italic.woff') format('woff');
  }

  @font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/pt-serif-bold.woff') format('woff');
  }

  @font-face {
    font-family: 'PT Serif';
    font-style: italic;
    font-weight: bold;
    src: url('assets/fonts/pt-serif-bold-italic.woff') format('woff');
  }

  @font-face {
    font-family: 'PT Mono';
    src: url('assets/fonts/pt-mono-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'PT Mono';
    font-style: normal;
    font-weight: bold;
    src: url('assets/fonts/pt-mono-bold.woff') format('woff');
  }

  /* CSS Variables   -------------------------------------- */
  :root {
    /* Font stacks */
    --fonts-ui: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    --fonts-content-serif: "PT Serif", serif;
    --fonts-content-mono: "PT Mono", monospace;

    /* Text rendering */
    --font-smoothing-main: subpixel-antialiased;
    --font-smoothing-sidebar: subpixel-antialiased;

    /* Main colors */
    --color-main-background: hsl(0, 0%, 100%);
    --color-main-text: hsl(0, 0%, 15%);
    --color-highlight: hsl(346, 82%, 53%);
    --color-illustrations: hsl(220, 11%, 84%); 
    --color-main-button-border: hsl(222, 20%, 90%);
    --color-main-button-border-hover: hsl(220, 11%, 84%);
    --color-main-button-background-active: var(--color-main-button-border-hover);

    /* Sidebar */
    --color-sidebar-background: hsl(220, 18%, 97%);
    --color-sidebar-entry-text: hsl(220, 1%, 18%);
    --color-sidebar-entry-background-hover: hsl(222, 20%, 90%);
    --color-sidebar-button-border: transparent;
    --color-sidebar-button-border-hover: var(--color-sidebar-entry-background-hover);
    --color-sidebar-button-background: transparent;
    --color-sidebar-button-background-active: var(--color-sidebar-entry-background-hover);
    --color-sidebar-button-text: hsl(0, 0%, 28%);
    --color-sidebar-divider: var(--color-sidebar-button-border-hover);

    /* Search */
    --color-search-border: var(--color-sidebar-button-border-hover);
    --color-search-background: var(--color-main-background);
    --color-search-tag: var(--color-sidebar-button-border-hover);
    --color-search-tag-text: var(--color-sidebar-button-text);
    --color-search-text: var(--color-sidebar-entry-text);
    
    /* Metadata */
    --color-meta-tag-background: hsl(0, 0%, 85%);
    --color-meta-tag-text: var(--color-main-text);
    --color-meta-field-text: var(--color-main-text);
    --color-meta-field-border: transparent;
    --color-meta-field-border-hover: var(--color-sidebar-entry-background-hover);
    
    /* Modals */
    --color-modal-overlay: hsla(0, 0%, 100%, 0.5);
    --color-modal-border: hsl(220, 11%, 84%);

    /* Menus */
    --color-menu-background: hsl(222, 33%, 94%);
    --color-menu-entry-text: var(--color-main-text);
    --color-menu-entry-text-active: var(--color-menu-entry-text);
    --color-menu-entry-background-active: hsl(220, 17%, 86%);
    --color-menu-entry-text-hover: hsl(0, 0%, 100%);
    --color-menu-entry-background-hover: var(--color-highlight);
    --color-section-button: var(--color-main-text);
  }

  /* Reset ----------------------------------------------- */
  html { 
    box-sizing: border-box;
    font-size: 16px;
  }

  *, *:before, *:after { box-sizing: inherit; }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul, dl, dd, dt {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol, ul { list-style: none; }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    -webkit-appearance: none;
    border: 0;
    padding: 0;
    background: transparent;
  }

  input { font-family: inherit; }

  /* Base Styles ----------------------------------------- */
  body {
    font-family: var(--fonts-ui);
    line-height: 26px;
    margin: 0;
  }

  #app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: stretch;
    background-color: var(--color-main-background);
    color: var(--color-main-text);
    -webkit-font-smoothing: var(--text-rendering-main);
  }

  ::selection {
    background-color: var(--color-main-text);
    color: var(--color-main-background);
  }
</style>
