<template>
  <span v-if="type" class="search__tag">{{ type }}</span>
</template>

<script>
  export default {
    props: {
      type: { type: String, default: '' },
    },
  };
</script>

<style scoped>
  .search__tag {
    background: var(--color-search-tag);
    color: var(--color-search-tag-text);
    display: inline-block;
    padding: 3px;
    line-height: 18px;
    border-radius: 2px;
  }
</style>
