<template>
  <form class="search">
    <SearchTag
      v-for="(tag, index) in filterTags"
      :key="index"
      :type="tag"
    />
    <input
      v-model="searchQuery"
      class="search__input"
      type="search"
      placeholder="Search …"
      autocomplete="off"
      autocapitalize="off"
      autocorrect="off"
      spellcheck="false"
      maxlength="30"
      @keydown.tab="handleTagChange"
      @keydown.delete="deleteLastTag"
    />
  </form>
</template>

<script>
  import SearchTag from './SearchTag.vue';
  import { mapGetters, mapMutations } from 'vuex';

  export default {
    components: { SearchTag },

    computed: {
      ...mapGetters('project', ['existingTags']),
      ...mapGetters('sidebar', ['filterTags']),
      ...mapGetters('sidebar', { _searchQuery: 'filterQuery' }),
      searchQuery: {
        get() { return this._searchQuery; },
        set(query) { this.setFilterQuery(query); },
      },
    },

    methods: {
      ...mapMutations('sidebar', [
        'setFilterQuery',
        'setFilterTags',
        'addFilterTag',
      ]),
      handleTagChange(event) {
        event.preventDefault();
        const tagName = this.searchQuery.replace(/\s*$/g, '');
        if (this.existingTags.includes(tagName)) {
          this.addFilterTag(this.searchQuery);
          this.searchQuery = '';
        }
      },
      deleteLastTag(event) {
        if (event.target.selectionEnd > 0) { return; }
        this.setFilterTags(this.filterTags.slice(0, -1));
      },
    },
  };
</script>

<style scoped>
  .search {
    border: 1px solid var(--color-search-border);
    background: var(--color-search-background);
    margin: 28px 17px;
    font-size: 12px;
    padding: 0 5px;
    display: flex;
    align-items: center;
  }

  .search__input {
    border: 0;
    background: transparent;
    height: 38px;
    outline: none;
    flex: 1;
  }
</style>
